<header class="jumbotron">

    <!-- Main component for a primary marketing message or call to action -->

    <div class="container">
        <div class="row row-header">
            <div class="col-xs-12">
                <h1>Teach Your Children To Use Their Math Skills To Save The Planet.</h1>
            </div>
            <div class="col-xs-6">
              <h3>Unleash The Power of Math in EVERY Child</h3>
            </div>
            <div class="col-xs-6">
              <h3>Set Up Your Childs Future</h3>
              <ul>
                <li>Designed by Experts</li>
                <li>Correspond to NZQA Syllabus</li>
                <li>Suitable for All Primary and Secondary Students</li>
            </div>
            <div class="col-xs-6">
              <h3>Engaging Fun</h3>
            </div>
            <a class="col-xs-6" ui-sref="app.courses">
              <h2>Enroll Now</h2>
              <h4>Choose A Course</h4>
            </a>
        </div>
    </div>
</header>
